---
import Layout from "../layouts/Layout.astro";
import CartClient from "../components/CartClient";
import { fetchExhibitManifest } from "../lib/exhibit-data";

// Fetch manifest to pass to client component for data lookup
const manifest = await fetchExhibitManifest();
---

<Layout title="Shopping Cart | SILVER STILL">
    <main class="min-h-screen flex flex-col">
        <div class="fixed top-0 left-0 right-0 z-50 h-24"></div>

        <div class="flex-grow pt-16 pb-20 px-4 md:px-8">
            <CartClient client:only="react" manifest={manifest} />
        </div>
    </main>
</Layout>
